name: Test mosdns

on:
  push:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: get latest go version
        id: go
        run: |
          echo version=$(curl -s https://raw.githubusercontent.com/actions/go-versions/update-versions-manifest-file/versions-manifest.json | grep -oE '"version": "[0-9]{1}.[0-9]{1,}(.[0-9]{1,})?"' | head -1 | cut -d':' -f2 | sed 's/ //g; s/"//g') >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{steps.go.outputs.version}}
          cache: true

      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -race -v ./...
